In [1]:
#Relevant libraries
import pandas as pd
import numpy as np

In [2]:
#improting the data into a dataframe

df = pd.read_csv('../data/cyberbullying_tweets.csv')

#print the first 5 rows of dataset

df.head()

                                          tweet_text cyberbullying_type
0  In other words #katandandre, your food was cra...  not_cyberbullying
1  Why is #aussietv so white? #MKR #theblock #ImA...  not_cyberbullying
2  @XochitlSuckkks a classy whore? Or more red ve...  not_cyberbullying
3  @Jason_Gio meh. :P  thanks for the heads up, b...  not_cyberbullying
4  @RudhoeEnglish This is an ISIS account pretend...  not_cyberbullying

In [3]:
#get the summary of the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47692 entries, 0 to 47691
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_text          47692 non-null  object
 1   cyberbullying_type  47692 non-null  object
dtypes: object(2)
memory usage: 745.3+ KB

#### The dataset has 47692 and 2 columns. The first column contains the tweet text and second column contains the cyberbullying type.

In [4]:
#Any missing values in the rows or columns??

df.isnull().sum()

tweet_text            0
cyberbullying_type    0
dtype: int64

#### Dataset doesn't have any missing values

In [5]:
df.describe()

                                               tweet_text cyberbullying_type
count                                               47692              47692
unique                                              46017                  6
top     RT @sailorhg: the intro for my hardware hackin...           religion
freq                                                    2               7998

In [6]:
#duplicate rows
df.duplicated().sum()

36

In [7]:
df = df.drop_duplicates()
df.duplicated().sum()

0

In [8]:
df.describe()

                                               tweet_text cyberbullying_type
count                                               47656              47656
unique                                              46017                  6
top     @sschinke @Blackamazon @shanley also sorta wor...           religion
freq                                                    2               7997

In [9]:
df['cyberbullying_type'].unique()

array(['not_cyberbullying', 'gender', 'religion', 'other_cyberbullying',
       'age', 'ethnicity'], dtype=object)

#### It looks like the tweet_txt column has tweets which are duplicated

In [10]:
dup_tweets = df[df.duplicated(subset=['tweet_text'],keep=False)]
dup_tweets.describe()

                                               tweet_text   cyberbullying_type
count                                                3278                 3278
unique                                               1639                    5
top     @Jason_Gio meh. :P  thanks for the heads up, b...  other_cyberbullying
freq                                                    2                 1580

In [11]:
print(df[df['tweet_text']==dup_tweets.iloc[0,0]].iloc[0,0])

@Jason_Gio meh. :P  thanks for the heads up, but not too concerned about another angry dude on twitter.

In [12]:
print(df[df['tweet_text']==dup_tweets.iloc[0,0]].iloc[1,0])

@Jason_Gio meh. :P  thanks for the heads up, but not too concerned about another angry dude on twitter.

#### The above tweets are same which are classified differently. There a need to drop such tweets so that not to confuse the ML model.

In [13]:
#Dropping rows with duplicate tweets
df.drop_duplicates(subset=['tweet_text'],keep=False, inplace=True)
df.describe()

                                               tweet_text cyberbullying_type
count                                               44378              44378
unique                                              44378                  6
top     In other words #katandandre, your food was cra...                age
freq                                                    1               7992

In [14]:
# save the data to a new csv file
df.to_csv('../data/tweets_cleaned.csv', index=False)